{% extends "layout.html" %}
{% block body %}
<div class="row">
    {% if g.curr_user %}
        {% if request.endpoint == 'user_timeline' %}
        <div class="col-md-12">
            <h2>{{timelineowner['name']}}</h2>   
            {% if g.curr_user['alias'] != timelineowner['alias'] %}
                {% if timelineowner['followed'] %}
                <a class='follow' href="{{url_for('unfollow',useralias=timelineowner['alias'])}}">unfollow</a>
                {% else %}
                <a class='follow' href="{{url_for('follow',useralias=timelineowner['alias'])}}">follow</a>
                {% endif %}
            {% endif %}
        </div> 
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="col-md-12 avatar">
                <img class="img-responsive" src="https://g.twimg.com/Twitter_logo_blue.png" alt="twitter">
                {% if g.curr_user['alias'] == timelineowner['alias'] %}
                    <a href="javascript:void(0)">Change avatar</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="row userinfo">
                <div class="col-md-12">
                    USer1001@user1.com
                </div>
                {% if g.curr_user['alias'] != timelineowner['alias'] %}
            </div>
                {% else %}
                <div class="col-md-12">
                    <a href="javascript:void(0)" onclick="updateUserinfo()">updateinfo</a>
                </div>
            </div>
            <div class="row userform">
                <form class="col-md-12" action="url_for('update_user')">
                    <input type="text" name="username" placeholder="user alias" />
                    <input type="text" name="status" placeholder="status" />
                    <div>
                        <input class="btn" type="submit" value="submit" />
                        <input class="btn" type="button" onclick="cancelUpdateUserinfo()" value="cancel" />
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
</div>
{% if request.endpoint == 'user_timeline' and g.curr_user['alias'] == timelineowner['alias'] %}
<div class="row">
    <ul class="tweets-controls nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tweets-data" aria-controls="tweets-data" role="tab" data-toggle  ="tab">Tweets</a></li>
        <li role="presentation"  ><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
        <li role="presentation"><a href="#follower" aria-controls="follower" role="tab" data-toggle="tab">Follower</a></li>
    </ul>
</div>
{% else %}
<div class="row">
    <ul class="tweets-controls nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tweets-data" aria-controls="tweets-data" role="tab" data-toggle  ="tab">Tweets</a></li>
    </ul>
</div>
{% endif %}
<div class="tab-content">
    <div id="tweets-data" class="tab-pane active">
        {% if request.endpoint == 'timeline' or (request.endpoint == 'user_timeline' and g.curr_user['alias'] == timelineowner['alias']) %}
            <div class="twitbox">
                <h3>What's on your mind, {{ g.curr_user['name'] }}??</h3>
                <form action="{% if request.endpoint == 'user_timeline' %} {{ url_for('add_tweet', useralias=g.curr_user['alias']) }} {% else %} {{ url_for('add_tweet') }} {% endif %} " enctype="multipart/form-data" method=post>
                    <dl>
                        <dt><textarea name=tweet></textarea>
                        <dt>Add img: <input type=file name=img>
                        <dt><input type=submit value=Post>
                    </dl>
                </form>
            </div>
        {% endif %}
        <ul class="tweets">
            {% for tweet in tweets %}
            <li>
            <strong><a href="{{ url_for('user_timeline', useralias=tweet['useralias']) }}">{{ tweet['username'] }}</a></strong>
            <small>{{ tweet['tweet_time'] }}</small>
            {{ tweet['tweet_content'] }}
            {% if tweet['tweet_img']  %}
            <div class="tweet-image">
                {% if g.test %} 
                <img src="{{ url_for('static', filename=tweet['tweet_img']) }}">
                {% else %}
                <img src="data:image/jpeg;base64,{{tweet['tweet_img']}}"/>
                {% endif %}
            </div>
            {% endif %}
            {% if request.endpoint != 'public_timeline' and tweet['useralias'] == g.curr_user['alias'] %}
                {% if request.endpoint == 'user_timeline' %}
                <a class="remove-post"  href="{{url_for('remove_tweet', useralias=timelineowner['alias'],tweet_id=tweet['tweet_id'])}}">del</a>
                {% else %}    
                <a class="remove-post"  href="{{url_for('remove_tweet', tweet_id=tweet['tweet_id'])}}">del</a>
                {% endif %}    
            {% endif %} 
            {% else %}
                <li><em>There's no message so far.</em>
            {% endfor %} 
        </ul>
        {% if more_tweet %}
        <div class='control'> 
            <button class="loadmore">Load more</button>
        </div>
        {% endif %}
    </div>
    {% if request.endpoint == 'user_timeline' and g.curr_user['alias'] == timelineowner['alias']%}
    <div role="tabpanel" class="tab-pane" id="following">
        <div class="user">
            {% for fol in timelineowner['followings'] %}
            <div class="col-md-3 col-sm-3 col-xs-12">
                {% if fol['user_img'] %}
                    <img class="img-responsive" src="https://g.twimg.com/Twitter_logo_blue.png" alt="twitter">
                {% else %}
                    <img class="img-responsive" src="https://g.twimg.com/Twitter_logo_blue.png" alt="twitter">
                {% endif %}   
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{url_for('user_timeline', useralias=fol['user_alias'])}}">{{fol['user_name']}}</a>       
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="follower">
        <div class="user">
            {% for fol in timelineowner['followers'] %}
            <div class="col-md-3 col-sm-3 col-xs-12">
                {% if fol['user_img'] %}
                <img class="img-responsive" src="https://g.twimg.com/Twitter_logo_blue.png" alt="twitter">
                {% else %}
                <img class="img-responsive" src="https://g.twimg.com/Twitter_logo_blue.png" alt="twitter">
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{url_for('user_timeline', useralias=fol['user_alias'])}}">{{fol['user_name']}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<script type="text/javascript">
    jQuery(document).on('click', 'button.loadmore',function(){
        var offset = jQuery('ul.tweets li').size();
        jQuery.ajax({
            url: "{{url_for('timelinejson')}}?offset=" + offset, // need to get current ids
        }).done(function(data) {
            if(data == '') {
                alert('No more tweets');
                jQuery('button.loadmore').remove();
                return;
                }
        alert(data);
        var tweets = JSON.parse(data);
        alert(tweets);
        jQuery.each(tweets, function(){
            var tweet = this;
            var img = tweet['tweet_img'];
            var content = tweet['tweet_content'];
            var time = tweet['tweet_time'];
            jQuery('ul.tweets').append(getTweet(img, content, time))
            })
        });
    })
    function getTweet(src, content, time){
        var html = '';
        html += '<li>AJAX<strong><a href="">user</a></strong>';
        html += content;
        html += '<div class="tweet-image"><img src="' + src+'"></div>';
        return html;
    }

    function cancelUpdateUserinfo(){
        jQuery('.userinfo').show();
        jQuery('.userform').hide();
    }

    function updateUserinfo(){
        jQuery('.userinfo').hide();
        jQuery('.userform').show();
    }
</script>
{% endblock %}
