{% extends "layout.html" %}
{% block body %}
{% if error %}<div class="error bg-danger"><strong>Error:</strong> {{ error }}</div>{% endif %}
<div class="row">
    {% if g.curr_user %}
        {% if request.endpoint == 'user_timeline' %}
        <div class="col-md-12">
            <h2>{{timelineowner['name']}}</h2>   
            {% if g.curr_user['alias'] != timelineowner['user_alias'] %}
                {% if timelineowner['followed'] %}
                <a class='follow' href="{{url_for('unfollow',useralias=timelineowner['user_alias'])}}">unfollow</a>
                {% else %}
                <a class='follow' href="{{url_for('follow',useralias=timelineowner['user_alias'])}}">follow</a>
                {% endif %}
            {% endif %}
        </div> 
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="col-md-12 avatar">
                    {% if g.test %}
                        <img class="img-responsive" src="{{ url_for('static', filename=timelineowner['user_img']) }}">
                    {% else %}
                        <img class="img-responsive" src="data:image/jpeg;base64,{{timelineowner['user_img']}}"/>
                    {% endif %}
                    {% if g.curr_user['alias'] == timelineowner['user_alias'] %}
                    <a class="change-avatar" href="javascript:void(0)">change avatar</a>
                    <form class="col-md-12 choose-avatar hidden" action="{{url_for('update_avatar', useralias=timelineowner['user_alias'])}}" enctype="multipart/form-data" method=post>
                        <dl>
                            <dt>choose:<dd><input type="file" name="avatar"  accept=".jpg,.jpeg,.png"/>
                        </dl>    
                        <div class="action">
                            <input class="btn" type="submit" value="submit" />
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="row userinfo">
                <div class="col-md-12">
                    <p><strong>Joined: </strong>{{timelineowner['user_joined']}}</p>
                    <p><strong>Email: </strong>{{timelineowner['user_id']}}</p>
                    <p><strong>Username: </strong>{{timelineowner['user_name']}}</p>
                    <p><strong>Alias: </strong>{{timelineowner['user_alias']}}</p>
                </div>
                {% if g.curr_user['alias'] != timelineowner['user_alias'] %}
           </div>
                {% else %}
                <div class="col-md-12">
                    <a href="javascript:void(0)" onclick="updateUserinfo()">updateinfo</a>
                </div>
            </div>
            <div class="row userform">
                <div class="col-md-12">
                <p><strong>Joined: </strong>{{timelineowner['user_joined']}}</p>
                <p><strong>Email: </strong>{{timelineowner['user_id']}}</p>    
                <form action="{{url_for('update_userinfo', useralias=timelineowner['user_alias'])}}" method=post>
                    <dl>
                        <dt>Username:<dd><input class="form-control" type="text" name="name" value="{{timelineowner['user_name']}}" placeholder="user alias" />
                        <dt>Alias:<dd><input class="form-control" type="text" name="alias" value="{{timelineowner['user_alias']}}" placeholder="status" />
                    </dl>    
                    <div class="action">
                        <input class="btn" type="submit" value="submit" />
                        <input class="btn" type="button" onclick="cancelUpdateUserinfo()" value="cancel" />
                    </div>
                </form>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}
</div>
{% if request.endpoint == 'user_timeline' and g.curr_user['alias'] == timelineowner['user_alias'] %}
<div class="row">
    <div class="col-md-12">
        <ul class="tweets-controls nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tweets-data" aria-controls="tweets-data" role="tab" data-toggle  ="tab">Tweets</a></li>
            <li role="presentation"  ><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
            <li role="presentation"><a href="#follower" aria-controls="follower" role="tab" data-toggle="tab">Follower</a></li>
        </ul>
    </div>
</div>
{% endif %}
<div class="tab-content">
    <div id="tweets-data" class="tab-pane active">
        {% if request.endpoint == 'timeline' or (request.endpoint == 'user_timeline' and g.curr_user['alias'] == timelineowner['user_alias']) %}
            <div class="twitbox">
                <h3>What's on your mind, {{ g.curr_user['name'] }}??</h3>
                <form action="{% if request.endpoint == 'user_timeline' %} {{ url_for('add_tweet', useralias=g.curr_user['alias']) }} {% else %} {{ url_for('add_tweet') }} {% endif %} " enctype="multipart/form-data" method=post>
                    <dl>
                        <dt><textarea name=tweet></textarea>
                        <dt>Add img: <input type=file name=img accept=".jpg,.jpeg,.png">
                    </dl>
                    <div class="actions">
                        <input class="btn" type=submit value=Post>
                    </div>
                </form>
            </div>
        {% endif %}
        <ul class="tweets">
            {% include 'tweets.html' with context %}
        </ul>
        {% if more_tweet %}
        <div class='control'> 
            <button class="loadmore btn">Load more</button>
        </div>
        {% endif %}
    </div>
    {% if request.endpoint == 'user_timeline' and g.curr_user['alias'] == timelineowner['user_alias']%}
    <div role="tabpanel" class="tab-pane" id="following">
        {% for fol in timelineowner['followings'] %}
            <div class="user">              
                <div class="col-md-3 col-sm-3 col-xs-12">
                        {% if g.test %}
                            <img class="img-responsive" src="{{ url_for('static', filename=fol['user_img']) }}">
                        {% else %}
                            <img class="img-responsive" src="data:image/jpeg;base64,{{fol['user_img']}}"/>
                        {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{url_for('user_timeline', useralias=fol['user_alias'])}}">{{fol['user_name']}}</a>       
                        </div>
                    </div>
                </div>              
            </div>
        {% endfor %}
    </div>

    <div role="tabpanel" class="tab-pane" id="follower">
        {% for fol in timelineowner['followers'] %}
            <div class="user">          
                <div class="col-md-3 col-sm-3 col-xs-12">
                        {% if g.test %}
                        <img class="img-responsive" src="{{ url_for('static', filename=fol['user_img']) }}">
                        {% else %}
                        <img class="img-responsive" src="data:image/jpeg;base64,{{fol['user_img']}}"/>
                        {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{url_for('user_timeline', useralias=fol['user_alias'])}}">{{fol['user_name']}}</a>
                        </div>
                    </div>
                </div>            
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<script type="text/javascript">
    jQuery(document).on('click', 'button.loadmore',function(){
        var offset = jQuery('ul.tweets li').size();
        jQuery.ajax({
            {% if request.endpoint == 'public_timeline' %}
                url: "{{url_for('public_timelinejson')}}?offset=" + offset,
            {% elif request.endpoint == 'user_timeline' %}
                url: "{{url_for('timelinejson', useralias=timelineowner['user_alias'])}}?offset=" + offset, // need to get current ids
            {% else %}
                url: "{{url_for('timelinejson')}}?offset=" + offset,    
            {% endif %}        
            }).done(function(data) {
                var hdata = JSON.parse(data);
                jQuery('ul.tweets').append(hdata['tweets'])    
            if(!hdata['more_tweet']) {
                jQuery('button.loadmore').remove();
                return;
                }
        });
    })
    jQuery(document).on('click', '.avatar .change-avatar',function(){
        var form = jQuery('form.choose-avatar');
        var file = jQuery(form).find('input[type="file"]');
        file.click();
    });

    jQuery('form.choose-avatar input[type="file"]').change(function () {
        var form = jQuery('form.choose-avatar');
        jQuery(form).submit();
    });


    function cancelUpdateUserinfo(){
        jQuery('.userinfo').show();
        jQuery('.userform').hide();
    }

    function updateUserinfo(){
        jQuery('.userinfo').hide();
        jQuery('.userform').show();
    }

    function comment(tweet_id){
         jQuery('.comments a.link-comment' + tweet_id).hide();
        jQuery('.comments form.post-comment' + tweet_id).show();
    }
</script>
{% endblock %}
